* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    background-color: pink;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}

li {
    list-style: none;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;

    color: white;
    font-size: 18px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #5A3A19;
    color: #5A3A19;
}

/* search搜索模块 */
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
    background-color: skyblue;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid skyblue;
    border-right: none;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background-image: url(images/Logo.jpg);
    border: 0
}

.user {
    float: right;
    padding-right: 30px;
}